on:
  push:
    branches:
    - main
    tags:
    - '!*'
  pull_request:
    branches:
    - main

name: main
jobs:
  test:
    name: Test on node ${{ matrix.node }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: [14, 16]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v1

      - name: Use node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Authenticate with GitHub package registry
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc

      - run: npm install

      - run: npm run lint

      - run: npm run build

      - run: npm run test${{ matrix.node }}

      - if: matrix.node == '16' && matrix.os == 'ubuntu-latest'
        run: cd lib && npm pack

      - if: matrix.node == '16' && matrix.os == 'ubuntu-latest'
        name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: imagemagick-magick-wasm
          path: lib/*.tgz