on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  LATEST_NODE_VERSION: 24

name: main
permissions:
  contents: read
  packages: read
jobs:
  test:
    name: Test on node ${{matrix.node}} and ${{matrix.os}}
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        node: [20, 22, 24]
        os: [ubuntu-24.04, macOS-14, windows-2022]

    steps:
      - uses: actions/checkout@v5

      - name: Use node ${{matrix.node}}
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node}}

      - name: Authenticate with GitHub package registry
        run: echo "//npm.pkg.github.com/:_authToken=${{secrets.GITHUB_TOKEN}}" >> ~/.npmrc

      - run: npm ci

      - run: npm run lint

      - run: npm run update-index

      - run: npm run test

      - run: npm run build

      - run: npm run prepare

      - run: npm run test-dist

      - run: npm run demo

  deno:
    name: Test on deno
    container:
      image: denoland/deno:debian
    runs-on: ubuntu-24.04

    steps:
      - run: apt update && apt install -y curl

      - run: curl -fsSL https://deb.nodesource.com/setup_${{env.LATEST_NODE_VERSION}}.x | bash -

      - run: apt install -y nodejs

      - uses: actions/checkout@v5

      - name: Authenticate with GitHub package registry
        run: echo "//npm.pkg.github.com/:_authToken=${{secrets.GITHUB_TOKEN}}" >> ~/.npmrc

      - run: npm ci

      - run: npm run build

      - run: npm ci

      - run: ./example.sh
        working-directory: deno

  check:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    name: Check for publish
    runs-on: ubuntu-24.04
    outputs:
      publish: ${{steps.check.outputs.publish}}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Check publish
        id: check
        run: |
          version=$(grep -oP "\"version\": \"\K[0-9\.]*" package.json)
          echo "version=$version"
          tag=$(git describe --tags HEAD --exact-match || true)
          if [[ "$tag" == "$version" ]]; then
            echo "publish=true" >> $GITHUB_OUTPUT
            echo "publish=true"
          fi

  publish:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    name: Publish package
    needs:
      - test
      - deno
      - check
    runs-on: ubuntu-24.04
    environment: npmjs
    permissions:
      contents: read
      packages: read
      id-token: write

    steps:
      - name: Use node ${{env.LATEST_NODE_VERSION}}
        uses: actions/setup-node@v6
        with:
          node-version: ${{env.LATEST_NODE_VERSION}}

      - name: Authenticate with GitHub package registry
        run: echo "//npm.pkg.github.com/:_authToken=${{secrets.GITHUB_TOKEN}}" >> ~/.npmrc

      - uses: actions/checkout@v5

      - run: npm ci

      - run: npm run build

      - if: needs.check.outputs.publish != 'true'
        run: |
          set +e
          output=$(npm publish --registry https://registry.npmjs.org/ --dry-run 2>&1)
          exit_code=$?
          echo "$output"
          if [ $exit_code -ne 0 ] && echo "$output" | grep -q "You cannot publish over the previously published versions:"; then
            echo "Version already published, continuing..."
            exit 0
          fi
          exit $exit_code

      - if: needs.check.outputs.publish == 'true'
        run: npm publish --registry https://registry.npmjs.org/

